# Valores de ejemplo para despliegue en AWS
aws_region        = "us-east-1"
environment       = "production"
project_name      = "case-platform"
vpc_cidr          = "10.0.0.0/16"
db_instance_class = "db.t4g.micro"
db_name           = "case_platform_db"
db_username       = "case_admin"
db_password       = "ReemplazarPorPasswordSeguro2026!"
jwt_secret        = "ReemplazarPorClaveHex64BytesLongProdKey2026!"
backend_cpu       = 512
backend_memory    = 1024
